.question .avatar {
    width: 90px;
    height: 90px;
}

.answer .avatar {
    width: 70px;
    height: 70px;
}

h1 + .mleft {
    margin-left: 15px;
}

.swipe {
    width: 45px;
    height: 43px;
    padding: 0;
}

.question img, .answer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar {
    margin: 18px 0 18px 22px;
}

.question {
    padding: 20px;
    border-radius: 6px;
    min-height: 168px;
    margin: auto 20px 20px 5px;
    border-bottom: 2px solid gray;
}

.feedback .score {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0;
}

.dblock {
    display: block;
}

.dinline {
    display: inline;
}

div.form-checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

label.with-checkbox {
    text-align: left;
    margin-left: 5px;
}

.question-tag {
    margin: 5px;
}
