textarea {
    width: 50%;
}

div.nickname, div.email, div.password, div.repeat_password, div.upload_avatar, div.registration {
    margin: 10px auto 10px auto;
}

textarea#form_email {
    border: 1px solid red;
}