{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block links %}

<link href="{% static 'css/input_form_style.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="dflex mbottom">
  <h1 class="dinline">Log in</h1>
  <a class="mleft" href="{% url 'signup' %}">Sign up</a>
</div>

<form novalidate class="col-12" action="/login/?next={{ next_url }}" method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary button_margin_top_10">Submit</button>
</form>

{% endblock %}
