{% extends "inc/base.html" %}
{% load static %}

{% block links %}

<link href="{% static 'css/registration_style.css' %}" rel="stylesheet">
<link href="{% static 'css/input_form_style.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<h1>Registration</h1>
<p class="error">Error: Sorry, this email address already registred!</p>
<form class="form" id="form_registration"></form>

<div class="nickname">
  <div class="row">
    <div class="col-3">
      <label for="form_nickname" form="form_registration">Nickname</label>
    </div>
    <div class="col-9">
      <textarea class="text" rows="1" maxlength="20" id="form_nickname" form="form_registration">Mr. Leshiy</textarea>
    </div>
  </div>
</div>
<div class="email">
  <div class="row">
    <div class="col-3">
      <label for="form_email" form="form_registration">Email</label>
    </div>
    <div class="col-9">
      <textarea class="text" rows="1" maxlength="33" id="form_email" form="form_registration">email@gmail.com</textarea>
    </div>
  </div>
</div>
<div class="password">
  <div class="row">
    <div class="col-3">
      <label for="form_password" form="form_registration">Password</label>
    </div>
    <div class="col-9">
      <textarea class="text" rows="1"  maxlength="25" id="form_password" form="form_registration">********</textarea>
    </div>
  </div>
</div>
<div class="repeat_password">
  <div class="row">
    <div class="col-3">
      <label for="form_repeat_password" form="form_registration">Password</label>
    </div>
    <div class="col-9">
      <textarea class="text" rows="1"  maxlength="25" id="form_repeat_password" form="form_registration">********</textarea>
    </div>
  </div>
</div>
<div class="upload_avatar">
  <div class="row">
    <div class="col-3">
      <label for="form_upload_avatar" form="form_registration">Upload avatar</label>
    </div>
    <div class="col-9">
      <input type="file" accept="image/png, image/jpeg" id="form_upload_avatar" form="form_registration">
    </div>
  </div>
</div>

<div class="registration">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-9">
            <button class="btn btn-outline-success">Register!</button>
        </div>
    </div>
</div>

{% endblock %}
