{% extends "inc/base.html" %}
{% load static %}

{% block links %}

<link href="{% static 'css/question_style.css' %}" rel="stylesheet">
<link href="{% static 'css/index_style.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="dflex mbottom">
  <h1 class="dinline">Tag: {{ tag }}</h1>
  <a class="mleft" href="{% url 'index' %}">New Questions</a>
  <a class="mleft" href="{% url 'hot' %}">Hot Questions</a>
</div>

{% for question in questions %}
  {% include 'inc/question_item.html' %}
{% endfor %}

{% include 'inc/paginator.html' %}

{% endblock %}
